<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  {{!-- <script src="javascript-winwheel-2.8.0/Winwheel.js"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

  <title>Riches!</title>
</head>

<body>
  {{{body}}}
</body>

{{!-- <script src="game.js"></script> --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<div class="footer-spacer"></div>
<div class="footer">
  <p>Game Design by Adam, Raxem, Mohamed, & Jessica</p>
</div>

</html>
