<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{!-- <h1>{{msg}}</h1> --}}
        <h2>CIRCLE OF RICHES!</h2>
      </div>
      <div class="col-md-3">
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Username</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="example-description">Highscore</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="login-password"></label>
          <input type="text" id="login-password" class="form-control" aria-describedby="login-password"
            placeholder="Password"></input>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <button id="login-button" class="btn  btn-outline-light" style="margin-top:16px">LOG IN</button>
        </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <h5 style="text-align: center" id="round-category"></h5>
        <div id="the-word"></div>
        <div class="row">
          <div class="col-md-3">
            <textarea rows="1" cols="3" maxlength="1" id="current-guess"></textarea>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-light" id="submit-guess">SUBMIT</button>
          </div>
          <div class="col-md-6">
            <h3 class="commentary"></h3>
          </div>
        </div>
        <h4>
          <div id="round-guesses"></div>
        </h4>
        <div class="row">
          <div class="col">
            <div id="solve-area" class="hidden">
              <h5>ENTER PUZZLE GUESS:</h5>
              {{!-- only should show when selecting "solve puzzle" --}}
              <input type="text" id="puzzle-guess" class="form-control" aria-describedby="puzzle-guess-value"> <button
                class="btn btn-outline-light" id="solve-submit">SUBMIT SOLVE!</button><br>
            </div>
            <button class="btn btn-outline-light" id="vowel-choice">Buy Vowel ($250)</button>
            {{!-- Buy vowel needs to be available only after a correct consonant guess --}}
            <button class="btn btn-outline-light" id="solve-choice">Solve Puzzle</button>
            {{!-- Solve unavailable unless  --}}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="wheel"><br><br>wheel placeholder</div>
        <div class="spin-choice">
          <button class="btn btn-outline-light" id="spin-choice">Spin</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div id="p1-card" class="p-card">
          <h5>PLAYER 1</h5>
          <h5>SCORE: $<span id="p1-score"></span></h5>
          <button id="p1start-round">CLICK TO START</button>
        </div>
      </div>
      <div class="col-md-4">
        <div id="p2-card" class="p-card">
          <h5>PLAYER 2</h5>
          <h5>SCORE: $<span id="p2-score"></span></h5>
          <button id="p2start-round">CLICK TO START</button>
        </div>
      </div>
      <div class="col-md-4">
        <div id="p3-card" class="p-card">
          <h5>PLAYER 3</h5>
          <h5>SCORE: $<span id="p3-score"></span></h5>
          <button id="p3start-round">CLICK TO START</button>
        </div>
      </div>
    </div>
  </div>

</div>