<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        {{!-- <h1>{{msg}}</h1> --}}
        <h2>Circle of Riches!</h2>
      </div>
      <div class="col-md-3">
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text"></label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Username">
          </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="example-description"></label>
          <input type="text" id="example-description" class="form-control" aria-describedby="example-description"
            placeholder="Password"></input>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <button id="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <h5>(Category)</h5>
        GAME HERE<BR>
        CHOSEN LETTERS DISPLAY UNDERNEATH
      </div>
      <div class="col-sm-6">
        WHEEL/RANDOM VALUE DISPLAY<br>
        GUESS LETTER HERE:
        <input type="text" id="guess-value" class="form-control" aria-describedby="guess-value"><br>
        <button class="btn">Buy Vowel ($250)</button>
        <button class="btn">Solve Puzzle</button>
        <button class="btn">Spin</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        PLAYER NAME<br>
        Current Score
      </div>
    </div>
  </div>

</div>