<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{!-- <h1>{{msg}}</h1> --}}
        <h2>DICEROLL OF RICHES!</h2>
      </div>
      <div class="col-md-3">
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="login-username">Username</label>
            <input type="text" id="login-username" class="form-control" aria-describedby="example-text" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="login-highscore">Highscore</label>
            <textarea class="form-control" id="login-highscore" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="login-password">PASSWORD</label>
          <input type="text" id="login-password" class="form-control" aria-describedby="login-password"
            placeholder="Password"></input>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <button id="login-button" class="btn  btn-outline-light" style="margin-top:16px">LOG IN</button>
        </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <h5 style="text-align: center" id="round-category"></h5>
        <div id="the-word" class="hidden"></div>
        <div class="row">
          <div class="col-md-3 submit-block">
            <textarea rows="1" cols="3" maxlength="1" id="current-guess" class="hidden"></textarea>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-light hidden" id="submit-guess">SUBMIT</button>
          </div>
          <div class="col-md-6">
            <h3 id="commentary">Waiting for player...</h3>
          </div>
        </div>
        <h4>
          <div id="round-guesses"></div>
        </h4>
        </div>
      <div class="col-sm-4">
        <div id="wheel"></div>
      </div>
    </div>
    <div class="row">
          <div class="col">
            <div id="solve-area" class="hidden">
              <h5>ENTER PUZZLE GUESS:</h5>
              <textarea rows="1" id="puzzle-guess-value" class="form-control"></textarea>
              <button class="btn btn-outline-light" id="solve-submit">SUBMIT SOLVE!</button><br>
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-sm-4 ctr choice-block">
        <button class="btn btn-outline-light hidden" id="solve-choice">SOLVE PUZZLE</button>
      </div>
      <div class="col-sm-4 ctr">
        <button class="btn btn-outline-light hidden" id="vowel-choice">BUY VOWEL ($500)</button>
      </div>
      <div class="col-sm-4 ctr">
        <button class="btn btn-outline-light hidden" id="spin-choice">ROLL!</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div id="p1-card" class="p-card">
          <h5 id="p1-name">PLAYER 1</h5>
          <h5>SCORE: $<span id="p1-score"></span></h5>
          <button id="p1start-round">CLICK TO START</button>
        </div>
      </div>
      <div class="col-md-4">
        <div id="p2-card" class="p-card">
          <h5 id="p2-name">PLAYER 2</h5>
          <h5>SCORE: $<span id="p2-score"></span></h5>
          <button id="p2start-round">CLICK TO START</button>
        </div>
      </div>
      <div class="col-md-4">
        <div id="p3-card" class="p-card">
          <h5 id="p3-name">PLAYER 3</h5>
          <h5>SCORE: $<span id="p3-score"></span></h5>
          <button id="p3start-round">CLICK TO START</button>
        </div>
      </div>
    </div>
  </div>

</div>