header {
  text-align: left;
  font-size: 50px;
}

body {
  background-image: url("../images/pixels.jpg");
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7rem;
  color: grey;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: whitesmoke;
  text-align: center;
}

.list-group-item {
  line-height: 2.5;
}
